<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Mente Clara</title>
        
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="/static/apple-touch-icon.png">
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="/static/css/fontAwesome.css">
        <link rel="stylesheet" href="/static/css/light-box.css">
        <link rel="stylesheet" href="/static/css/owl-carousel.css">
        <link rel="stylesheet" href="/static/css/templatemo-style.css">

        <script src="/static/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>

<body>



        <header class="nav-down responsive-nav hidden-lg hidden-md">
            <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div id="main-nav" class="collapse navbar-collapse">
                <nav>
                    <ul class="nav navbar-nav">
                        <li><a href="#top">Casa</a></li>
                        <li><a href="#featured">Sabías que...</a></li>
                        <li><a href="#projects">Aprende más</a></li>
                        <li><a href="#video">Descúbrete</a></li>
                        <li><a href="#blog">Artículos</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <div class="sidebar-navigation hidde-sm hidden-xs">
            <div class="logo">
                <a href="#">Mente<em>Clara</em></a>
            </div>
            <nav>
                <ul>
                    <li>
                        <a href="#top">
                            <span class="rect"></span>
                            <span class="circle"></span>
                            Casa
                        </a>
                    </li>
                    <li>
                        <a href="#featured">
                            <span class="rect"></span>
                            <span class="circle"></span>
                            Sabías que...
                        </a>
                    </li>
                    <li>
                        <a href="#projects">
                            <span class="rect"></span>
                            <span class="circle"></span>
                            Aprende más
                        </a>
                    </li>
                    <li>
                        <a href="#video">
                            <span class="rect"></span>
                            <span class="circle"></span>
                            Descúbrete
                        </a>
                    </li>
                    <li>
                        <a href="#blog">
                            <span class="rect"></span>
                            <span class="circle"></span>
                            Artículos
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="slider">
            <div class="Modern-Slider content-section" id="top">
                <div class="item item-1">
                    <div class="img-fill">
                    <div class="image"></div>
                    <div class="info">
                        <div>
                          <h1>La paz comienza dentro de ti</h1>
                          <p>Recuerda que la calma y el bienestar empiezan desde tu interior. <br>
                            Tómate el tiempo para cuidar de ti.</p>
                          <div class="white-button button">
                              <a href="#featured">Descubrir más</a>
                          </div>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="item item-2">
                    <div class="img-fill">
                        <div class="image"></div>
                        <div class="info">
                        <div>
                          <h1>Cada pequeño paso hacia<br> adelante cuenta.</h1>
                          <p>Los avances, aunque sean pequeños, son logros significativos
							<br> en el camino hacia tu bienestar.</p>
                          
                          <div class="white-button button">
                              <a href="#featured">Más información</a>
                          </div>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="item item-3">
                    <div class="img-fill">
                        <div class="image"></div>
                        <div class="info">
                        <div>
                          <h1>Hoy es un nuevo día para<br>empezar de nuevo.</h1>
                          <p>No importa lo que haya sucedido ayer.
                            <br>Cada día es una oportunidad para avanzar.</p>
                          
                          <div class="white-button button">
                              <a href="#featured">Saber más</a>
                          </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="page-content">
            <section id="featured" class="content-section">
                <div class="section-heading">
                    <h1>Datos<br><em>Destacados</em></h1>
                    <p>Te invito a descubrir datos interesantes sobre la salud mental que podrían cambiar tu perspectiva y motivarte a cuidar de tu bienestar emocional. 
                    </p>
                </div>
                <div class="section-content">
                    <div class="owl-carousel owl-theme">
                        <div class="item">
                            <div class="image">
                                <img src="/static/img/featured_1.jpg" alt="">
                                <div class="featured-button button">
                                    <a href="https://www.nimh.nih.gov/health/publications/espanol/el-cerebro-de-los-adolescentes-7-cosas" target="_blank">Continua leyendo</a>
                                </div>
                            </div>
                            <div class="text-content">
                                <h4>El Cerebro Adolescente</h4>
                                <span>Instituto nacional de la saud mental</span>
                                <p>
                                    El NIMH explica que el cerebro adolescente está en pleno desarrollo, especialmente en la corteza prefrontal, que regula la toma de decisiones. Esta etapa los hace más sensibles al estrés y a las experiencias sociales, además de ser propensa a la aparición de trastornos mentales. La falta de sueño puede afectar su rendimiento, pero el cerebro adolescente es adaptable y resiliente, superando desafíos con apoyo adecuado. </p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <img src="/static/img/featured_2.jpg" alt="">
                                <div class="featured-button button">
                                    <a href="https://blog.up.edu.mx/prepaup/la-importancia-del-ejercicio-fisico-para-los-adolescentes" target="_blank">Continua leyendo</a>
                                </div>
                            </div>
                            <div class="text-content">
                                <h4>El Impacto del Ejercicio en los Adolescentes</h4>
                                <span>Prepaup</span>
                                <p>El artículo explica cómo el ejercicio físico en adolescentes mejora la salud cardiovascular, aumenta la fuerza muscular, y ayuda a controlar el peso. Además, contribuye al bienestar emocional al reducir la ansiedad y la depresión, promoviendo la producción de endorfinas. También mejora el rendimiento académico y la calidad del sueño. Se recomienda realizar al menos 60 minutos de actividad física diaria para obtener estos beneficios.</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <img src="/static/img/featured_3.jpg" alt="">
                                <div class="featured-button button">
                                    <a href="https://escolasalut.sjdhospitalbarcelona.org/es/consejos-salud/salud-mental/rol-redes-sociales-salud-mental-adolescentes" target="_blank">Continua leyendo</a>
                                </div>
                            </div>
                            <div class="text-content">
                                <h4>Redes Sociales y Salud Mental en la Adolescencia</h4>
                                <span>Escola de Salut</span>
                                <p>El artículo aborda cómo las redes sociales pueden afectar la salud mental de los adolescentes, tanto positiva como negativamente. El uso excesivo puede generar ansiedad, depresión y aislamiento, mientras que la comparación constante con otros y el contenido dañino aumentan el riesgo de trastornos. Sin embargo, las redes también ofrecen oportunidades de apoyo y conexión social. Se recomienda un uso equilibrado y consciente para mitigar sus efectos negativos.</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <img src="/static/img/featured_4.jpg" alt="">
                                <div class="featured-button button">
                                    <a href="https://salud.nih.gov/recursos-de-salud/nih-noticias-de-salud/el-poder-de-las-mascotas" target="_blank">Continua leyendo</a>
                                </div>
                            </div>
                            <div class="text-content">
                                <h4>El poder de las mascotas</h4>
                                <span>Institutos Nacionales de Salud (NIH)</span>
                                <p>El artículo analiza cómo las mascotas pueden beneficiar la salud y el bienestar humano. Interactuar con animales reduce el cortisol, la presión arterial, la soledad y mejora el estado de ánimo. También se investigan sus beneficios para niños con autismo y TDAH, mostrando su impacto en el desarrollo social y emocional. Los beneficios varían según las metas personales, como aumentar la actividad física o manejar el estrés, destacando la importancia de elegir la mascota adecuada</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <img src="/static/img/featured_5.jpg" alt="">
                                <div class="featured-button button">
                                    <a href="https://noticias.perfil.com/noticias/empresas-y-protagonistas/hablar-sana.phtml" target="_blank">Continua leyendo</a>
                                </div>
                            </div>
                            <div class="text-content">
                                <h4>Hablar sana</h4>
                                <span>Facundo Olivares</span>
                                <p>El artículo aborda cómo los silencios pueden ser el resultado de emociones como angustia, bronca, vergüenza, miedo y dolor, que al no ser expresadas tienden a manifestarse en el cuerpo. Expresar estas emociones es fundamental para aliviar tensiones y procesar experiencias pasadas. Hablar nos conecta con los demás y permite enfrentar aquello que evitamos. La terapia se destaca como un espacio seguro donde el silencio se transforma en palabras, promoviendo un proceso de sanación emocional y un mayor bienestar personal.</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <img src="/static/img/featured_6.jpg" alt="">
                                <div class="featured-button button">
                                    <a href="https://www.comunidad.madrid/servicios/salud/adolescencia-habitos-saludables" target="_blank">Continua leyendo</a>
                                </div>
                            </div>
                            <div class="text-content">
                                <h4>Adolescencia y hábitos saludables</h4>
                                <span>Comunidad de Madrid</span>
                                <p>Durante la adolescencia, es crucial adoptar hábitos saludables para un desarrollo adecuado. Se recomienda mantener una alimentación equilibrada, con un desayuno completo, y evitar el consumo excesivo de refrescos y bollería. La actividad física regular es fundamental para la salud física y mental, además de prevenir enfermedades. También se destaca la importancia de gestionar el estrés y fomentar relaciones sociales positivas. La Comunidad de Madrid ofrece recursos para apoyar a los adolescentes en este proceso.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="projects" class="content-section">
                <div class="section-heading">
                    <h1>Reflejos del Alma:<br><em>Un Espacio para la Reflexión</em></h1>
                    <p>Descubre imágenes y pensamientos que inspiran calma y reflexión,
                    <br>ayudándote a conectar contigo mismo y encontrar claridad en medio del día a día.</p>
                </div>
                <div class="section-content">
                    <div class="masonry">
                        <div class="row">
                            <div class="item">
                                <div class="col-md-8">
                                    <a href="/static/img/portfolio_big_1.jpg" data-lightbox="image"><img src="/static/img/portfolio_1.jpg" alt="image 1"></a>
                                </div>
                            </div>
                            <div class="item second-item">
                                <div class="col-md-4">
                                    <a href="/static/img/portfolio_big_2.jpg" data-lightbox="image"><img src="/static/img/portfolio_2.jpg" alt="image 2"></a>
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-md-4">
                                    <a href="/static/img/portfolio_big_3.jpg" data-lightbox="image"><img src="/static/img/portfolio_3.jpg" alt="image 3"></a>
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-md-4">
                                    <a href="/static/img/portfolio_big_4.jpg" data-lightbox="image"><img src="/static/img/portfolio_4.jpg" alt="image 4"></a>
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-md-8">
                                    <a href="/static/img/portfolio_big_5.jpg" data-lightbox="image"><img src="/static/img/portfolio_5.jpg" alt="image 5"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    <p>Te invitamos a que por favor evalúes lo que has aprendido durante la primera sección de la página.</p>
                    <div class="accent-button button">
                        <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=DQSIkWdsW0yxEjajBLZtrQAAAAAAAAAAAAMAADB3dW9UMEVGWDZCU0dKVzM3VUFLSzJEUDczQ0dVRy4u" class="btn" target="_blank">Evalúa lo que aprendiste</a>
                    </div>                                             
            </section>
            <section id="video" class="content-section">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-heading">
                            <h1>Descúbrete un <em>viaje</em> hacia ti</h1>
                            <p>Tómate un momento, respira y descubre lo que tu interior tiene para contarte. Conocerte es el inicio de algo maravilloso.</p>
                        </div>
                        <div class="text-content">
                            <p>Tómate un momento para ti. Responde estas preguntas y permite que una guía reflexiva te muestre aspectos de ti mismo que quizás no habías notado. Descubrirte es el primer paso para comprender tus emociones, tus días y lo que te hace único.</p>
                        </div>
                        <div class="accent-button button">
                            <a href="/templates/formulario.html" class="btn">Comienza tu Descubrimiento</a>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="box-video">
                            <div class="video-container">
                                <iframe width="875" height="425" src="https://www.youtube.com/embed/GFJSzHCs34Q?si=8wZckb3PReCtshmg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="blog" class="content-section">
                <div class="section-heading">
                    <h1>Tu bienestar mental<br><em>siempre puede mejorar</em></h1>
                    <p>Descubre los avances en salud mental de 2022 a 2024.
                    <br>Siempre hay nuevas formas de mejorar tu bienestar.</p>
                </div>
                <div class="section-content">
                    <div class="tabs-content">
                        <div class="wrapper">
                            <ul class="tabs clearfix" data-tabgroup="first-tab-group">
                              <li><a href="#tab1" class="active">2024</a></li>
                              <li><a href="#tab2">2023</a></li>
                              <li><a href="#tab3">2022</a></li>
                              <li><a href="#tab4">¿2025?</a></li>
                            </ul>
                            <section id="first-tab-group" class="tabgroup">
                                <div id="tab1">
                                    <ul>
                                        <li>
                                            <div class="item">
                                                <img src="/static/img/blog_1.jpg" alt="">
                                                <div class="text-content">
                                                    <h4>La salud mental de los adolescentes</h4>
                                                    <span>Organización Mundial de la Salud (OMS)</span>
                                                    <p>Uno de cada siete adolescentes padece trastornos mentales, como depresión y ansiedad. El suicidio es la tercera causa de muerte entre jóvenes de 15 a 29 años. La OMS enfatiza fomentar entornos positivos, hábitos saludables y acceso a servicios de salud mental para proteger su bienestar.</p>
                                                    
                                                    <div class="accent-button button">
                                                        <a href="https://www.who.int/es/news-room/fact-sheets/detail/adolescent-mental-health" target="_blank">Continua leyendo</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="item">
                                                <img src="/static/img/blog_2.jpg" alt="">
                                                <div class="text-content">
                                                    <h4>Mejoras y desafíos en la salud mental de los jóvenes</h4>
                                                    <span>Centros para el Control y la Prevención de Enfermedades (CDC)</span>
                                                    <p>Los CDC reportan mejoras en la salud mental de adolescentes en EE. UU. entre 2021 y 2023, con una leve disminución en sentimientos de desesperanza (42% a 40%). Sin embargo, aumentan las amenazas con armas (7% a 9%) y el acoso escolar (15% a 19%). Destacan la necesidad de escuelas más seguras y solidarias para apoyar a los jóvenes.</p>
                                                    
                                                    <div class="accent-button button">
                                                        <a href="https://www.cdc.gov/media/es/releases/p_salud-mental-jovenes-080624.html" target="_blank">Continúa leyendo</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="item">
                                                <img src="/static/img/blog_3.jpg" alt="">
                                                <div class="text-content">
                                                    <h4>Psicología en la adolescencia: claves e importancia</h4>
                                                    <span>Universidad Internacional de La Rioja (UNIR)</span>
                                                    <p>La adolescencia es una etapa de cambios que puede generar conflictos internos y dificultades sociales. La intervención psicológica es clave para brindar apoyo emocional, ayudando a los jóvenes a resolver problemas, comprender emociones y adaptarse a desafíos. El apoyo psicológico mejora la autoestima, gestiona las emociones y promueve habilidades sociales, contribuyendo al bienestar integral del adolescente.</p>
                                                    <div class="accent-button button">
                                                        <a href="https://www.unir.net/revista/salud/psicologia-adolescencia/" target="_blank">Continúa leyendo</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div id="tab2">
                                    <ul>
                                        <li>
                                            <div class="item">
                                                <img src="/static/img/blog_4.jpg" alt="">
                                                <div class="text-content">
                                                    <h4>El aumento de la depresión y el riesgo suicida</h4>
                                                    <span>BBC Mundo</span>
                                                    <p>La depresión en adolescentes ha aumentado en frecuencia y gravedad, con síntomas más intensos y mayor riesgo de suicidio. Aproximadamente 16 millones de jóvenes entre 10 y 19 años en América Latina sufren trastornos mentales. Es fundamental identificar señales como tristeza persistente, irritabilidad y aislamiento. La intervención temprana, a través de apoyo psicológico y hábitos saludables, es clave para prevenir consecuencias graves como el suicidio.</p>
                                                    <div class="accent-button button">
                                                        <a href="https://www.bbc.com/mundo/noticias-64745414" target="_blank">Continúa leyendo</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="item">
                                                <img src="/static/img/blog_5.jpg" alt="">
                                                <div class="text-content">
                                                    <h4>Cómo cuidar el bienestar emocional en la adolescencia</h4>
                                                    <span>Top Doctors</span>
                                                    <p>La adolescencia implica cambios físicos y emocionales que pueden generar inseguridades. La psicología adolescente se enfoca en la identidad, autoestima, relaciones y rendimiento académico. Para promover el bienestar emocional, es clave una comunicación abierta, establecer rutinas y límites, y llevar un estilo de vida saludable con ejercicio, alimentación equilibrada y manejo del estrés, como mindfulness.</p>
                                                    
                                                    <div class="accent-button button">
                                                        <a href="https://www.topdoctors.es/articulos-medicos/psicologia-de-la-adolescencia-como-cuidar-la-salud-mental-y-promover-el-bienestar-emocional/" target="_blank">Continúa leyendo</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="item">
                                                <img src="/static/img/blog_6.jpg" alt="">
                                                <div class="text-content">
                                                    <h4>La clave de la gestión emocional en adolescentes</h4>
                                                    <span>Formación Smart</span>
                                                    <p>La adolescencia implica cambios emocionales rápidos. La inteligencia emocional, que ayuda a reconocer y manejar emociones, es clave para prevenir conflictos, tolerar la frustración y mejorar las relaciones. Aprender a regular las emociones contribuye al bienestar general y a tomar decisiones equilibradas.</p>
                                                    <div class="accent-button button">
                                                        <a href="https://www.formacionsmart.com/importancia-de-la-gestion-emocional-en-los-adolescentes/" target="_blank">Continúa leyendo</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div id="tab3">
                                    <ul>
                                        <li>
                                            <div class="item">
                                                <img src="/static/img/blog_7.jpg" alt="">
                                                <div class="text-content">
                                                    <h4>El perfeccionismo insano en adolescentes</h4>
                                                    <span>SOM Salud Mental 360</span>
                                                    <p>El perfeccionismo insano en adolescentes se caracteriza por establecer estándares excesivamente altos y una autocrítica severa. Esta actitud puede derivar en ansiedad, depresión y trastornos de la conducta alimentaria. Es esencial reconocer y abordar estos patrones para prevenir consecuencias negativas en la salud mental de los jóvenes.</p>
                                                    <div class="accent-button button">
                                                        <a href="https://www.som360.org/es/blog/como-afecta-perfeccionismo-insano-vida-adolescente" target="_blank">Continúa leyendo</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="item">
                                                <img src="/static/img/blog_8.jpg" alt="">
                                                <div class="text-content">
                                                    <h4>La depresión por bullying</h4>
                                                    <span>La Mente es Maravillosa</span>
                                                    <p>El bullying, o acoso escolar, implica maltrato sistemático hacia una víctima, manifestándose en insultos, amenazas y agresiones. Esta experiencia puede tener consecuencias duraderas, como insomnio, baja autoestima, ansiedad extrema, ideación suicida, dificultades sociales y escolares, y trastornos psicosomáticos. Es fundamental reconocer y abordar estos efectos para prevenir la depresión en la adultez.</p>
                                                    <div class="accent-button button">
                                                        <a href="https://lamenteesmaravillosa.com/la-depresion-por-bullying/" target="_blank">Continúa leyendo</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="item">
                                                <img src="/static/img/blog_9.jpg" alt="">
                                                <div class="text-content">
                                                    <h4>Cómo los amigos mejoran tu salud</h4>
                                                    <span>Forbes México</span>
                                                    <p>Mantener relaciones sociales sólidas puede aumentar la esperanza de vida hasta en 10 años. Las amistades reducen el riesgo de depresión, hipertensión y obesidad, y fomentan hábitos saludables. Además, proporcionan apoyo emocional, disminuyen el estrés y fortalecen la autoestima.</p>
                                                    <div class="accent-button button">
                                                        <a href="https://forbes.com.mx/forbes-life/salud-amigos-ayudan-a-tu-salud-fisica-y-mental/" target="_blank">Continúa leyendo</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </section> 
                            <p>¿Qué aprendiste en este segundo módulo? Este es el momento perfecto para reflexionar sobre los conceptos clave, las herramientas exploradas y cómo puedes aplicarlas en tu día a día. ¡Comparte tu experiencia y ayuda a mejorar este espacio de aprendizaje!</p>
                            <div class="accent-button button">
                                <a href="https://forms.office.com/r/mk1TVKaan6" class="btn" target="_blank">Evalúa lo que aprendiste</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        

        <script>window.jQuery || document.write('<script src="/static/js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
        
        <script src="static/js/vendor/bootstrap.min.js"></script>
    
        <script src="/static/js/plugins.js"></script>
        <script src="/static/js/main.js"></script>
        
        <script>
            var didScroll;
            var lastScrollTop = 0;
            var delta = 5;
            var navbarHeight = $('header').outerHeight();
        
            $(window).scroll(function(event){
                didScroll = true;
            });
        
            setInterval(function() {
                if (didScroll) {
                    hasScrolled();
                    didScroll = false;
                }
            }, 250);
        
            function hasScrolled() {
                var st = $(this).scrollTop();
                
                if(Math.abs(lastScrollTop - st) <= delta)
                    return;
                
                if (st > lastScrollTop && st > navbarHeight){

                    $('header').removeClass('nav-down').addClass('nav-up');
                } else {
                    if(st + $(window).height() < $(document).height()) {
                        $('header').removeClass('nav-up').addClass('nav-down');
                    }
                }
                
                lastScrollTop = st;
            }
        </script>

</body>
</html>